# Configuración de Seguridad
SECRET_KEY=tu_clave_secreta_aqui
DEBUG=True

# Configuración de PostgreSQL Local
DB_NAME=agroquimicos_db
DB_USER=postgres
DB_PASSWORD=tu_contraseña_de_postgres
DB_HOST=localhost
DB_PORT=5432

# Credenciales de Google Cloud (Ruta al archivo JSON descargado)
GOOGLE_APPLICATION_CREDENTIALS=./credenciales_google.json